body{
    /*font-family: "Trebuchet MS", Tahoma, sans-serif;*/
    font-family: Arial, Helvetica, sans-serif;
    background: lightGray;
}

*:focus {
    outline: none;
}

.app-layout{
    display: grid;
    grid-template-rows: auto 40px;
    min-height: 100vh;
}
